bin
obj
*.suo
*.user
packages

node_modules
AspNetCoreProj/wwwroot/app/*.js
AspNetCoreProj/wwwroot/app/*.map
AspNetCoreProj/wwwroot/fonts
AspNetCoreProj/wwwroot/js
AspNetCoreProj/wwwroot/css
AspNetHybrid/app
